@import 'bootstrap/dist/css/bootstrap.min.css';
@import "./libs/normalize";

.wrapper{
   

    background-color: #ECF7F3;
    max-width: 1400px;
    min-height: 757px;
}
.App{
    box-sizing: content-box;
    background-color: #ECF7F3;
    margin-left: 149px;
    margin-right: 149px;;
}
.navbar-nav{
    margin-left: 267px;
}
@media screen and (max-width: 900px) {
    .wrapper {

        box-sizing: content-box;

        background-color: #ECF7F3;
    }
    .App{
        margin: 0px;
        box-sizing: content-box;
    }
    .navbar-nav{
        margin-left: 0px;
    }
  }